# GENERAL

VERSION="3.0.9"
VERSION_BUILD="9"
BUNDLE_NAME="com.Alafguur"
NAME="Alafguur"
SHORT_NAME="Alafguur"
DESCRIPTION="Alafguur is an app designed for Somali singles to find love."
DEBUG_MODE="false"

# LOGGER

# Defines logger used in the app.
#
# Available types:
#
#   * sentry - sends error logs to the sentry.io service. Requires SENTRY_DSN parameter to be set.
#   * local  - logs errors to the log table on the app backend. Used if the LOGGER_TYPE value is
#              unknown or the required parameters for the selected logger were not set correctly.

LOGGER_TYPE="local"

# SENTRY

SENTRY_DSN=""

# API

API_PROTOCOL="https"
API_DOMAIN="www.alafguur.com"
API_URI="/skmobileapp/api/"

# PWA FIREBASE

PWA_FIREBASE_API_KEY="AIzaSyAn3ODWs4sQuA-gMe7Gc_CFwUMOiJZQh6A"
PWA_FIREBASE_AUTH_DOMAIN="new-access-329811.firebaseapp.com"
PWA_FIREBASE_PROJECT_ID="new-access-329811"
PWA_FIREBASE_STORAGE_BUCKET="new-access-329811.appspot.com"
PWA_FIREBASE_MESSAGING_SENDER_ID="35818815265"
PWA_FIREBASE_APP_ID="1:35818815265:web:78ceb3901c0a4561cf0860"
PWA_FIREBASE_ANALYTICS_MEASUREMENT_ID="G-4RRBREL779"
PWA_FIREBASE_ANALYTICS_ENABLED="false"
PWA_FIREBASE_VAPID_KEY="BBjb5lWUZAJq28S2R0bR6_rW1YK4rws0cErH8iCnxoK0db90fipTzugGIAcf2NbeCHvKeVmkareiWA51A06Jl90"

# ADMOB

# Do not use real app IDs for testing! This can result in account suspension.
# Get test app IDs here:
# https://developers.google.com/admob/android/quick-start#update_your_androidmanifestxml

# Obtaining this value in production: https://hello.skadate.com/docs/manuals/admob_android
ADMOB_ANDROID_APP_ID="ca-app-pub-3386633579554044~8756931269"

# Obtaining this value in production: https://hello.skadate.com/docs/manuals/admob_ios
ADMOB_IOS_APP_ID="ca-app-pub-3386633579554044~9271053075"

# SOCIAL AUTH

SOCIAL_AUTH_FACEBOOK_APP_ID="966631350727897"
SOCIAL_AUTH_TWITTER_CONSUMER_KEY=""
SOCIAL_AUTH_TWITTER_CONSUMER_SECRET=""
SOCIAL_AUTH_APPLE_CLIENT_ID="com.Alafguur.com"

# ANDROID RELEASE

ANDROID_RELEASE_KEYSTORE_PASSWORD="alafguur"
ANDROID_RELEASE_KEY_ALIAS="alafguur"
ANDROID_RELEASE_KEYSTORE_FILE_PATH="C:/Users/ayoub/Desktop/wetransfer__1-2-zip_2024-12-04_1310/_1 2/_1/skmobileapp/keystore/alafguur.jks"
